* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    background-color: #FEFDED;
}

.add-book{
    background-color: #FA7070;
    padding: 10px 20px 10px 20px;
    border-radius: 12px;
    display: block;
    margin: auto;
    font-size: larger;
    cursor: pointer;
    margin-bottom: 20px;

}

.modal{
    background-color: #C6EBC5;
    border-radius: 15px;
    border: 0px solid black;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    padding: 30px;
}

.book-form{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 15px;
}

.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add{
    background-color: #FA7070;
    border-radius: 10px;
    width: 5em;
    height: 2em;
    border: 0px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.close-modal{
    background-color: black;
    color: red;
    font-weight: bolder;
    border: 0px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.display{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
}

.book{
    background-color: #A1C398;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    border: 1px solid black;
}

.delete{
    background-color: red;
    border: 0px;
    border-radius: 8px;
    padding: 10px 20px 10px 20px;
    font-weight: bold;
    display: block;
    margin: auto;
    cursor: pointer;
}